/mods/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/
/resourcepacks/
/saves/
/logs/
/options.txt
/icon.png
/.mixin.out/
/dynamic-resource-pack-cache/
/downloads/
/moonlight-global-datapacks/
/patchouli_books/
/moddata/
/midi_files/
/schematics/
/showdown/
/patchouli_data.json
/spark-modernfix/
*.bak
/config/iris.properties
