/mods/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/
/resourcepacks/
/saves/
/logs/
/options.txt
/icon.png
/.mixin.out/
/dynamic-resource-pack-cache/
/downloads/
/moonlight-global-datapacks/
/patchouli_books/
/moddata/
/midi_files/
/schematics/
/showdown/
/patchouli_data.json
/spark-modernfix/
*.bak
/config/iris.properties
/config/mcqoy.toml
/config/mixinhelper-report.json
/config/azurelib.json
/dynamic-data-pack-cache/
/backups/
/.sable/
/soundfonts/
/libraries-integratedscripting/
/data/
/HeadlessMC/
/config/ars_nouveau/search_index/
/ponders_watched.json
/config/spark/tmp/
/config/spark/tmp-client/
/usercache.json
/usernamecache.json
/dev/headlessmc-launcher-2.10.0.jar
/dev/pakku.jar
/dev/scripts/old/
/emi.json
/crash-reports/
/dev/mods/
/command_history.txt
/build/
/config/nuclearcraftneohaul.ncpf.json
